h1 {
    font-family: 'Monterrat';
    text-align: center;
}

.s1 {
    background: url('../img/one.png');
    background-size: cover;

    h1 {
        color: #fff;
    }
}

.s2 {
    background: url('../img/two.png');
    background-size: cover;

    h1 {
        color: #fff;
    }
}

.s3 {
    background: url('../img/three.png');
    background-size: cover;

    h1 {
        color: #fff;
    }
}

.s4 {
    .sl1 {
        background: url('../img/four.png');
        background-size: cover;
    }
    
    .sl2 {
        background: url('../img/four2.png');
        background-size: cover;
    }

    .sl3 {
        background: url('../img/four3.png');
        background-size: cover;
    }

    h1 {
        color: #fff;
    }

    .fp-slidesNav ul {
        text-align: center !important;
    }
}

span {
    background: #fff !important;
}

